RewriteEngine On

# =========================================
# FORCE HTTPS
# =========================================
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# =========================================
# EXCLUDE TRACKER FOLDER FROM REWRITES
# =========================================
RewriteCond %{REQUEST_URI} ^/tracker/
RewriteRule .* - [L]

# =========================================
# REDIRECT index → /
# =========================================
RewriteCond %{THE_REQUEST} \s/+index(\.html|\.php)?[\s?] [NC]
RewriteRule ^index(\.html|\.php)?$ / [R=301,L]

# =========================================
# REMOVE .html
# =========================================
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ /%1 [R=301,L]

# =========================================
# REMOVE .php
# =========================================
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php [NC]
RewriteCond %{REQUEST_URI} !^/tracker/
RewriteRule ^ /%1 [R=301,L]

# =========================================
# INTERNAL .html
# =========================================
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]

# =========================================
# INTERNAL .php
# =========================================
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# =========================================
# SECURITY
# =========================================
Options -Indexes