/*------------------------------------------------------------------
Project:        Tecmo
Author URI:     https://themeforest.net/user/themedox
Version:        1.1
File:           Css File
Last change:    18/01/2025
Assigned to:    Tecmo - IT Solution and Technology HTML Template
Primary use:    Visa 
-------------------------------------------------------------------*/

//>> Basic Start <<//
@import "_mixins";
@import "_variables";
@import "_buttons";
@import "_typography";
//>> Basic End <<//

//>> Template Section Style Start <<//

@import "_about";
@import "_global";
@import "_animation";
@import "_brand";
@import "_contact";
@import "_cta";
@import "_event";
@import "_faq";
@import "_feature";
@import "_footer";
@import "_header";
@import "_helping";
@import "_hero";
@import "_marquee";
@import "_meanmenu";
@import "_news";
@import "_preloader";
@import "_pricing";
@import "_programs";
@import "_section";
@import "_Service";
@import "_team";
@import "_testimonial";

//>> Template Section Style End <<//
